body {
    background-image: url("http://chiconstpoets.com/wp-content/uploads/2018/04/light-blue-pattern-wallpaper-pale-blue-subtle-seamless-background-wallpaper-pattern-stock-vector-light-blue-wallpaper-designs.jpg");
}
.top-buffer { 
    margin-top:10px; 
}

.left-buffer {
    margin-left: 10px;
}

.header {
    background-color: darkorange;
    color: white;
    font-size: 36px;
    padding: 20px 10px 20px 10px;
    font-weight: bold;
}

.main {
    background-color: lightgoldenrodyellow;
    color: green;
    padding: 20px 2px 20px 10px;
    font-size: 18px;
    font-weight: bold;
}
#Random-Number{
    background-color: rgb(166, 238, 144) ;
    color: black;
    font-size: 36px;
    padding: 5px 0px 5px 10px;
    height: 73px;
    font-weight: bold;
}
#result-box{
    background-color: skyblue;
    color: rgb(0, 0, 0);
    padding: 5px 0px 5px 10px;
    height: 73px;
    font-weight: bold;
    font-size: 14px;
}
img{
    width: 100px;
    height: 100px;
}
.score-sec{
    background-color: teal;
    color: white;
    width: 30%;
    padding: 5px 5px 5px 10px;
    font-weight: bold;
}

#total-score{
    background-color: teal;
    color: white;
    width: 30%;
    font-size: 36px;
    padding: 7px 5px 40px 10px;
    font-weight: bold;
}